In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("netflix_titles.csv")

In [3]:
# to see some sample data
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1987,s1988,Movie,Residue,Merawi Gerima,"Obinna Nwachukwu, Dennis Lindsey, Taline Stewa...",United States,"September 17, 2020",2020,TV-MA,90 min,"Dramas, Independent Movies",A young screenwriter returns to his hometown t...
2941,s2942,TV Show,Locke & Key,NaN,"Darby Stanchfield, Connor Jessup, Emilia Jones...","Canada, United States","February 7, 2020",2020,TV-14,1 Season,"TV Action & Adventure, TV Dramas, TV Mysteries","After their dad's murder, three siblings move ..."
8417,s8418,Movie,The Mayo Clinic,"Ken Burns, Christopher Loren Ewers, Erik Ewers",Peter Coyote,United States,"April 19, 2019",2018,TV-14,116 min,Documentaries,A look at how a world-renowned medical institu...
1702,s1703,Movie,Fukrey Boyzzz: Space Mein Fukrapanti,Avinash Walzade,"Viraaj Modgill, Jasleen Singh, Pooja Punjabi, ...",India,"November 13, 2020",2020,TV-Y7,75 min,"Children & Family Movies, Comedies",After a foreboding dream about aliens comes tr...
3226,s3227,Movie,The Body Remembers When the World Broke Open,"Elle-Máijá Tailfeathers, Kathleen Hepburn","Violet Nelson, Elle-Máijá Tailfeathers, Charli...","Canada, Norway","November 27, 2019",2019,TV-MA,106 min,"Dramas, Independent Movies","After a traumatic event, two Indigenous women ..."

In [4]:
df.shape

(8807, 12)

In [6]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [7]:
# sum of null values
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

### Data Cleaning

1.) remove unnecessary column -> "show_id" and "description"

2.) Check for Null values

3.) To eal with null values we can give default values, calculated values or we can remove values. ( choose according to requirement)

    a.) "director" - will replace null value with default value "Not mentioned".
    b.) "cast" - will replace null value with default value "Not mentioned".
    c.) "country" - will replace null value with MODE (most common) value.
    d.) "date_added" - will replace null value with MODE (most common) value.
    e.) "duration" - will replace null value with MODE (most common) value.
    f.) "rating" - have wrong value so, will delete those values.
    
4.) Extract year, month and date from date column.

5.) listed_in column have so many values so, will split the value and change column name as genre.
    
6.) Cast column have many values separated by commas but we want to show only the first value of this column as lead_actor.

In [8]:
df.drop(["show_id","description"], axis=1, inplace = True)

In [9]:
# To see values of column
df["director"].value_counts().head(3)

# Replace Null value with default value
df["director"] = df["director"].fillna("Not mentioned")

In [10]:
# Check Null value has been replaced or not
df["director"].isna().sum()

np.int64(0)

In [11]:
# To see values of column
df["cast"].value_counts().head(3)

# Replace Null value with default value
df["cast"] = df["cast"].fillna("Not mentioned")

In [12]:
# Check Null value has been replaced or not
df["cast"].isna().sum()

np.int64(0)

In [13]:
# To see values of column
df["country"].value_counts().head(3)
# Check the MODE value
mode_country = df["country"].mode()[0]
mode_country

# Replace Null value with MODE value
df["country"] = df["country"].fillna(mode_country)

In [14]:
# Check Null value has been replaced or not
df["country"].isna().sum()

np.int64(0)

In [15]:
# To see values of column
df["date_added"].value_counts().head(3)
# Check the MODE value
mode_date = df["date_added"].mode()[0]
mode_date

# Replace Null value with MODE value
df["date_added"] = df["date_added"].fillna(mode_date)

In [17]:
# Check Null value has been replaced or not
df["date_added"].isna().sum()

np.int64(0)

In [18]:
# To see values of column
df["duration"].value_counts().head(3)
# Check the MODE value
mode_duration = df["duration"].mode()[0]
mode_duration

# Replace Null value with MODE value
df["duration"] = df["duration"].fillna(mode_duration)

In [19]:
# Check Null value has been replaced or not
df["duration"].isna().sum()

np.int64(0)

In [20]:
# To see unique values of column
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [21]:
mode_rating=df["rating"].mode()[0]

In [22]:
mode_rating

'TV-MA'

In [23]:
df["rating"]=df["rating"].fillna(mode_rating)

In [24]:
df["rating"].isna().sum()

np.int64(0)

In [ ]:
df["rating"].unique()
# we can see rating column have some wrong values like (74 min, 84 min, 66 min).

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [ ]:
# To deal with this we will delete wrong values
df= df[~df["rating"].str.contains("min")]

In [27]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [28]:
# Check Null value has been replaced or not
df["rating"].isna().sum()

np.int64(0)

In [29]:
# Again will check for null value in whole data
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

### date_added column

In date_aded column we have comma (,) in between date format and we will extract year, month and date from date column.
So, that comma needs to be removed.

In [30]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      shape=(1766,), dtype=object)

In [31]:
df["date_added"] = df["date_added"].str.replace(",","")

C:\Users\SHWESUMA\AppData\Local\Temp\ipykernel_6388\2910175374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"] = df["date_added"].str.replace(",","")

In [32]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'],
      shape=(1766,), dtype=object)

In [33]:
# The output will be a DataFrame with the date_added column converted to datetime format, handling the mixed date formats.

df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

C:\Users\SHWESUMA\AppData\Local\Temp\ipykernel_6388\2193307499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

In [34]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [35]:

df["year"] = df["date_added"].dt.year

C:\Users\SHWESUMA\AppData\Local\Temp\ipykernel_6388\2047218167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = df["date_added"].dt.year

In [36]:
df["month"] = df["date_added"].dt.month

C:\Users\SHWESUMA\AppData\Local\Temp\ipykernel_6388\1893636164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"] = df["date_added"].dt.month

In [37]:

df["day"] = df["date_added"].dt.day

C:\Users\SHWESUMA\AppData\Local\Temp\ipykernel_6388\4063146428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["day"] = df["date_added"].dt.day

In [38]:
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
year            0
month           0
day             0
dtype: int64

### listed_in column

Column have so many values so, will split the value and change column name.

In [39]:
df["genre"] = df["listed_in"].str.split(",").str[0]

C:\Users\SHWESUMA\AppData\Local\Temp\ipykernel_6388\3894069600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genre"] = df["listed_in"].str.split(",").str[0]

In [40]:
df["genre"].value_counts().head()

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

# Cast Column

Cast column have many values separated by commas but we want to show only the first value of this column as lead_actor.

In [42]:
df = df[df["cast"]!="Not Mentioned"]

In [44]:
# Original cast Column: Contains strings of cast members separated by commas.
# New lead_actor Column: Contains the first cast member from each string in the cast column.

df["lead_actor"] = df["cast"].str.split(",").str[0]

In [45]:
df["lead_actor"].value_counts().head(5)

lead_actor
Not mentioned         825
Shah Rukh Khan         26
Akshay Kumar           23
David Attenborough     20
Amitabh Bachchan       20
Name: count, dtype: int64

In [46]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Not mentioned,United States,2021-09-25,2020,PG-13,90 min,Documentaries,2021,9,25,Documentaries,Not mentioned
1,TV Show,Blood & Water,Not mentioned,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",2021,9,24,International TV Shows,Ama Qamata
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",2021,9,24,Crime TV Shows,Sami Bouajila
3,TV Show,Jailbirds New Orleans,Not mentioned,Not mentioned,United States,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV",2021,9,24,Docuseries,Not mentioned
4,TV Show,Kota Factory,Not mentioned,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",2021,9,24,International TV Shows,Mayur More

In [47]:
#   Drop unnecessary columns

df.drop(["date_added", "listed_in", "cast"], axis=1, inplace = True)

In [48]:
df.head()

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,90 min,2021,9,25,Documentaries,Not mentioned
1,TV Show,Blood & Water,Not mentioned,South Africa,2021,TV-MA,2 Seasons,2021,9,24,International TV Shows,Ama Qamata
2,TV Show,Ganglands,Julien Leclercq,United States,2021,TV-MA,1 Season,2021,9,24,Crime TV Shows,Sami Bouajila
3,TV Show,Jailbirds New Orleans,Not mentioned,United States,2021,TV-MA,1 Season,2021,9,24,Docuseries,Not mentioned
4,TV Show,Kota Factory,Not mentioned,India,2021,TV-MA,2 Seasons,2021,9,24,International TV Shows,Mayur More

### Writting this cleaned data into new created csv file.

In [52]:
df.to_csv("netflix_cleaned_data.csv")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8804 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8804 non-null   object
 1   title         8804 non-null   object
 2   director      8804 non-null   object
 3   country       8804 non-null   object
 4   release_year  8804 non-null   int64
 5   rating        8804 non-null   object
 6   duration      8804 non-null   object
 7   year          8804 non-null   int32
 8   month         8804 non-null   int32
 9   day           8804 non-null   int32
 10  genre         8804 non-null   object
 11  lead_actor    8804 non-null   object
dtypes: int32(3), int64(1), object(8)
memory usage: 791.0+ KB